<h2>Gerenciamento do Sistema Hera</h2>
<h5>Bem Vindo, <%= current_user.try(:name) %> (<%= current_user.try(:email) %>)!</h5>
<hr>
<h4>Inspeções</h4>
<i><%= link_to "Nova Inspeção", new_inspection_path %></i>
<br/><br/>
<h4>Tipos de Equipamentos</h4>
<i><%= link_to "Novo Tipo de Equipamento", new_equip_type_path %></i>
<br/><br/>
<h4>Equipamentos</h4>
<i><%= link_to "Novo Equipamento", new_equipment_path %></i>



